html, body {
height: 100% !important;
}

.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto;
//margin: 0 auto -4em;
}

.footer.footer-dashboard{
//height: 4em;
//margin-top: 4em;
color: white !important;
}

.header {
  //position: relative;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 998;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.main-container.dashboard {
  //padding: 50px;
}

.primary-menu .container, .sub-nav-wrapper .container{
  padding: 0px !important;
}

.primary-menu {
  background: white;
  width: 100%;
}

.sub-nav-wrapper {
  padding: 10px;
}

.subnav-dashboard > li > a:hover {
  color: black;
}

.subnav-dashboard > li  {
  margin-left: 10px;
}

.subnav-dashboard > li > a.active {
  opacity: 0.8;
  border-radius: 10px;
  border: 1px solid whitesmoke;
  padding: 12px;
  margin-top: 5px;
  color: white !important;
}

.subnav-dashboard > li > a.active:hover {
  background: whitesmoke !important;
  color: black !important;
}

@media (max-device-width: 768px) {
  div.navbar-header {
    background: rgba(44, 62, 80, 0.8) !important;
  }
}

.sub-nav-wrapper {
  background: rgba(44, 62, 80, 0.8);
  color: white;
}

.sub-nav-wrapper li:active{
  background: black;
}

.sub-nav a {
    color: white;
}

.element-invisible {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px,1px,1px,1px);
}

.header .logo {
  position: absolute;
  z-index: 99;
  //top: .4375em;
  top: 1.2em;
  left: 50%;
  margin-left: -2.1875em;
  background: rgba(26, 188, 156,1.0);
}

.logo {
  width: 6em;
  height: 6em;
  display: block;
  //background-image: url();
  background-repeat: no-repeat;
  background-color: #00c4cc;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  -moz-box-shadow: 0 5px 5px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 5px 5px rgba(0,0,0,.1);
  box-shadow: 0 5px 5px rgba(0,0,0,.1);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: top .2s ease-out,box-shadow .2s ease-out;
  -o-transition: top .2s ease-out,box-shadow .2s ease-out;
  -webkit-transition: top .2s ease-out,box-shadow .2s ease-out;
  transition: top .2s ease-out,box-shadow .2s ease-out;
}

.arrow-up {
  position: absolute;
  //top: 56px;
  //left: 120px;
  left: 35%;
  top: 3.5em;
  margin:auto;
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid rgba(44, 62, 80, 0.8);
}


p.user-name {
  margin: 20px;
  overflow: hidden;  
  max-width: 400px;
}

.no-padding {
  padding: 0px !important;
}


/*  

  For the Courses Page

*/

.container.content {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.section {
  width: 100% !important;

}

.module {
  padding: 40px 0px;
  min-height: 150px;
  text-align: center;
}

.module-group {
  background: rgba(236, 240, 241,1.0);
}

.module-header {
  background: rgba(44, 62, 80, 0.8);
  min-height: 300px;
}

.module-header h1 {
  font-family: Helvetica;
  font-size: 100px;
  color: white;
}

.module-header h3 {
  font-family: open-sans;
  font-size: 30px;
  color: white;
}

.module-lessons {
  background: whitesmoke;
}

.pack-group-title {
  font-size: 20px;
  font-weight: 500;
}

.module-content {
  width: 800px;
  height: 180px;
  margin: auto;
}

.module-copy {
  width: 500px;
  height: 100%;
  float: right;
  padding: 20px;
}

.module-copy p{
  text-align: left;
}

.module-img {
  height: 100%;
  width: 300px;
}

