$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "login.scss";

body {
  font-family: 'Open Sans', sans-serif;
  background: #e4e7ec;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

div.motto-text {
  font-family: "ALBOROTO" !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.covervid-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

covervid {
  width: 100%;
  height: 100%;
}

.circle {
  width:140px;
  height:140px;
  border-radius:50%;
  font-size:25px;
  color:#fff;
  line-height:30px;
  text-align:center;
  background:#000;
  margin: auto;
  margin-top: -50px;
  z-index: 1000;
}

.logo-text {

}

.footer {
  padding-top: 20px;
  padding-bottom: 10px;
}

a {
  color: #000;
}

.navbar {
  margin-bottom: 0px !important;
}

div.row.marketing{
  padding: 30px;
}

.login-container {
  width: 100%;
  //background: black;
}

.btn-fill.btn-login, .btn-fill.btn-register  {
  background: rgba(250, 250, 250, 0.3) !important
}

.btn-fill.btn-login:hover, .btn-fill.btn-register:hover {
  background: rgba(192, 57, 43, 1) !important;
  border-color: rgba(192, 57, 43, 1) !important;
}

.text-muted {
  color: #90939a;
}

.panel {
  border-color: #cfd9D7;
  border-radius: 2px;
  box-shadow: 0 8px 17px rgba(0, 0, 0, .2);
}

.panel-default > .panel-heading {
  font-size: 85%;
  font-weight: bold;
  color: #444;
  text-transform: uppercase;
  background-color: #f6f6f6;
  border-color: #cfd9db;
}

.form-control {
  border-radius: 0;
}

.center-form {
  width: 330px;
  margin: 12% auto;
}

@media (max-width: 768px) {
.center-form {
    margin-top: 18%;
  }
}

.signup-or-separator {
  position: relative;
  height: 34px;
  text-align: center;
  background: none;
}

.signup-or-separator hr {
  width: 90%;
  margin: -16px auto 10px auto;
  border-top: 1px solid #dce0e0;
}

.signup-or-separator .text {
  display: inline-block;
  padding: 8px;
  margin: 0;
  background-color: #fff;
}

.has-feedback .form-control-feedback {
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  line-height: 46px;
  color: #555;
}

.password-strength-indicator {
  position: absolute;
  top: 10px;
  right: 0;
  width: 5px;
  padding: 0 15px;
}

.password-strength-indicator span {
  display: block;
  width: 5px;
  height: 5px;
  margin-bottom: 2px;
  background: #ebeef1;
  border-radius: 5px;
}

.has-feedback .form-control {
  padding-left: 42.5px;
}

.profile-picture {
  height: 100px;
  display: block;
}

/*********************
* Social Buttons
*********************/

.btn-google-plus {
  color: #fff;
  background-color: #dd4b39;
  border: 1px solid #d54331;
}

.btn-google-plus:hover,
.btn-google-plus:focus {
  color: #fff;
  background-color: #cb3927;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border: 1px solid #335190;
}

.btn-facebook:hover,
.btn-facebook:focus {
  color: #fff;
  background-color: #294786;
}

.btn-twitter {
  color: #fff;
  background-color: #00aced;
  border: 1px solid #009fdb;
}

.btn-twitter:hover,
.btn-twitter:focus {
  color: #fff;
  background-color: #0090c7;
}

/*********************
* Animations
*********************/

.fadeZoom.ng-enter {
  -webkit-animation-duration: 0.6s, 0.2s;
  -moz-animation-duration: 0.2s, 0.2s;
  -ms-animation-duration: 0.2s, 0.2s;
  animation-duration: 0.2, 0.2s;
  -webkit-animation-name: fadeIn, zoomIn;
  -moz-animation-name: fadeIn, zoomIn;
  -ms-animation-name: fadeIn, zoomIn;
  animation-name: fadeIn, zoomIn;
}

.fadeZoomFadeDown.ng-enter {
  -webkit-animation-duration: 0.2s, 0.2s;
  -moz-animation-duration: 0.2s, 0.2s;
  -ms-animation-duration: 0.2s, 0.2s;
  animation-duration: 0.2s, 0.2s;
  -webkit-animation-name: fadeIn, zoomIn;
  -moz-animation-name: fadeIn, zoomIn;
  -ms-animation-name: fadeIn, zoomIn;
  animation-name: fadeIn, zoomIn;
}

.fadeZoomFadeDown.ng-leave {
  -webkit-animation: fadeOutDown 0.2s;
  -moz-animation: fadeOutDown 0.2s;
  -ms-animation: fadeOutDown 0.2s;
  animation: fadeOutDown 0.2s;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    -moz-transform: scale3d(0.8, 0.8, 0.8);
    -ms-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    -moz-transform: scale3d(0.8, 0.8, 0.8);
    -ms-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }

  50% {
    opacity: 1;
  }
}