/*.videogular-container {
    width: 100%;
    height: 320px;
    margin: auto;
    margin-bottom: 30px;
}

@media (min-width: 1200px) {
    .videogular-container {
        width: 768px;
        height: 432px;
        float: left;
    }

    .videogular-container.audio {
        width: 1170px;
        height: 50px;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {
    .videogular-container {
        width: 940px;
        height: 528.75px;
    }

    .videogular-container.audio {
        width: 940px;
        height: 50px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .videogular-container {
        width: 728px;
        height: 409.5px;
    }

    .videogular-container.audio {
        width: 728px;
        height: 50px;
    }
}

*/

.card {
    float: left;
    max-width: 320px;
    width: 320px;
    margin: 20px;
    margin-top: 0px;
}


.coach-facebook {
    color: #3b5998;
}

.coach-twitter {
    color: #55acee;
}

.fa-facebook-square.coach-facebook:hover, .fa-facebook-square.coach-twitter:hover  {
    border: none !important;
}

.go-back {
    margin-left: 0px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 0px;
}
/*
* Comment Box on the page
* - make it responsive
* - set under the main video
*/

.comment-container {
    max-width: 768px;
    //padding: 15px;
}

.padded {
  padding: 35px 20px 30px;
  background-color: whitesmoke;
  border-bottom-left-radius: 0.2cm;
  border-bottom-right-radius: 0.2cm;
}

.video-description {
    margin-bottom: 20px;
}

.social-share {
    float: right;
}

.dsq-comment-header {
    white-space:normal!important;
}