 <footer class="footer" ng-cloak>
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/">
                        About
                    </a>
                </li>
                <li>
                    <a href="/">
                        Program
                    </a>
                </li>
            </ul>
        </nav>
        <div class="social-area pull-right">                
            <a class="btn btn-social btn-facebook btn-simple transparent">
                <i class="fa fa-facebook-square"></i>
            </a>
            <a class="btn btn-social btn-twitter btn-simple transparent">
                <i class="fa fa-twitter"></i>
            </a>
        </div>
        <div class="copyright">
            <p>
                Copyright Text
            </p>
        </div>
    </div>
</footer>