/* line 1, ../../app/styles/dashboard.scss */
html, body {
  height: 100% !important;
}

/* line 5, ../../app/styles/dashboard.scss */
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
}

/* line 13, ../../app/styles/dashboard.scss */
.footer.footer-dashboard {
  color: white !important;
}

/* line 19, ../../app/styles/dashboard.scss */
.header {
  left: 0;
  top: 0;
  width: 100%;
  z-index: 998;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 30, ../../app/styles/dashboard.scss */
.primary-menu .container, .sub-nav-wrapper .container {
  padding: 0px !important;
}

/* line 34, ../../app/styles/dashboard.scss */
.primary-menu {
  background: white;
  width: 100%;
}

/* line 39, ../../app/styles/dashboard.scss */
.sub-nav-wrapper {
  padding: 10px;
}

/* line 43, ../../app/styles/dashboard.scss */
.subnav-dashboard > li > a:hover {
  color: black;
}

/* line 47, ../../app/styles/dashboard.scss */
.subnav-dashboard > li {
  margin-left: 10px;
}

/* line 51, ../../app/styles/dashboard.scss */
.subnav-dashboard > li > a.active {
  opacity: 0.8;
  border-radius: 10px;
  border: 1px solid whitesmoke;
  padding: 12px;
  margin-top: 5px;
  color: white !important;
}

/* line 60, ../../app/styles/dashboard.scss */
.subnav-dashboard > li > a.active:hover {
  background: whitesmoke !important;
  color: black !important;
}

@media (max-device-width: 768px) {
  /* line 66, ../../app/styles/dashboard.scss */
  div.navbar-header {
    background: rgba(44, 62, 80, 0.8) !important;
  }
}
/* line 71, ../../app/styles/dashboard.scss */
.sub-nav-wrapper {
  background: rgba(44, 62, 80, 0.8);
  color: white;
}

/* line 76, ../../app/styles/dashboard.scss */
.sub-nav-wrapper li:active {
  background: black;
}

/* line 80, ../../app/styles/dashboard.scss */
.sub-nav a {
  color: white;
}

/* line 84, ../../app/styles/dashboard.scss */
.element-invisible {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 92, ../../app/styles/dashboard.scss */
.header .logo {
  position: absolute;
  z-index: 99;
  top: 1.2em;
  left: 50%;
  margin-left: -2.1875em;
  background: #1abc9c;
}

/* line 102, ../../app/styles/dashboard.scss */
.logo {
  width: 6em;
  height: 6em;
  display: block;
  background-repeat: no-repeat;
  background-color: #00c4cc;
  transition: all .3s;
  background-size: contain;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: top .2s ease-out,box-shadow .2s ease-out;
}

/* line 129, ../../app/styles/dashboard.scss */
.arrow-up {
  position: absolute;
  left: 35%;
  top: 3.5em;
  margin: auto;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid rgba(44, 62, 80, 0.8);
}

/* line 141, ../../app/styles/dashboard.scss */
p.user-name {
  margin: 20px;
  overflow: hidden;
  max-width: 400px;
}

/* line 147, ../../app/styles/dashboard.scss */
.no-padding {
  padding: 0px !important;
}

/*  
*
* For the Library Page
*
*/
/* line 157, ../../app/styles/dashboard.scss */
.btn-group a span {
  padding: 8px;
}

/* line 161, ../../app/styles/dashboard.scss */
.btn-group-library-display {
  float: right;
}

/* line 165, ../../app/styles/dashboard.scss */
.well-library-display {
  padding-right: 0px;
  padding-bottom: 40px;
}

/* line 170, ../../app/styles/dashboard.scss */
.course {
  padding: 15px !important;
  margin-bottom: 0px;
  padding-top: 0px !important;
}

/* line 176, ../../app/styles/dashboard.scss */
.course-container {
  min-height: 200px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background: white;
  color: rgba(0, 0, 0, 0.6);
}

/* line 183, ../../app/styles/dashboard.scss */
.course-container h4 {
  font-weight: bold;
  margin-bottom: 20px;
}

/*  
*
* For the Courses Page
*
*/
/* line 202, ../../app/styles/dashboard.scss */
.container.content {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/* line 208, ../../app/styles/dashboard.scss */
.section {
  width: 100% !important;
}

/* line 213, ../../app/styles/dashboard.scss */
.module {
  padding: 40px 0px;
  min-height: 150px;
  text-align: center;
}

/* line 219, ../../app/styles/dashboard.scss */
.module-group {
  background: #ecf0f1;
}

/* line 223, ../../app/styles/dashboard.scss */
.module-header {
  background: rgba(44, 62, 80, 0.8);
  min-height: 300px;
}

/* line 228, ../../app/styles/dashboard.scss */
.module-header h1 {
  font-family: Helvetica;
  font-size: 100px;
  color: white;
}

/* line 234, ../../app/styles/dashboard.scss */
.module-header h3 {
  font-family: open-sans;
  font-size: 30px;
  color: white;
}

/* line 240, ../../app/styles/dashboard.scss */
.module-lessons {
  background: whitesmoke;
}

/* line 244, ../../app/styles/dashboard.scss */
.pack-group-title {
  font-size: 20px;
  font-weight: 500;
}

/* line 249, ../../app/styles/dashboard.scss */
.module-content {
  width: 800px;
  height: 180px;
  margin: auto;
}

/* line 255, ../../app/styles/dashboard.scss */
.module-copy {
  width: 500px;
  height: 100%;
  float: right;
  padding: 20px;
}

/* line 262, ../../app/styles/dashboard.scss */
.module-copy p {
  text-align: left;
}

/* line 266, ../../app/styles/dashboard.scss */
.module-img {
  height: 100%;
  width: 300px;
}