/* line 1, ../../app/styles/library.scss */
.header {
  left: 0;
  top: 0;
  width: 100%;
  z-index: 998;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 12, ../../app/styles/library.scss */
.primary-menu .container, .sub-nav-wrapper .container {
  padding: 0px !important;
}

/* line 16, ../../app/styles/library.scss */
.primary-menu {
  background: white;
  width: 100%;
}

/* line 21, ../../app/styles/library.scss */
.sub-nav-wrapper {
  background: rgba(44, 62, 80, 0.8);
  color: white;
}

/* line 26, ../../app/styles/library.scss */
.sub-nav a {
  color: white;
}

/* line 30, ../../app/styles/library.scss */
.element-invisible {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 38, ../../app/styles/library.scss */
.header .logo {
  position: fixed;
  z-index: 99;
  top: 1.2em;
  left: 50%;
  margin-left: -2.1875em;
  background: #1abc9c;
}

/* line 48, ../../app/styles/library.scss */
.logo {
  width: 6em;
  height: 6em;
  display: block;
  background-repeat: no-repeat;
  background-color: #00c4cc;
  transition: all .3s;
  background-size: contain;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: top .2s ease-out,box-shadow .2s ease-out;
}

/* line 75, ../../app/styles/library.scss */
.arrow-up {
  position: absolute;
  top: 56px;
  left: 120px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid rgba(44, 62, 80, 0.8);
}