/* line 1, ../../app/styles/library.scss */
html, body {
  height: 100% !important;
}

/* line 5, ../../app/styles/library.scss */
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
}

/* line 13, ../../app/styles/library.scss */
.footer.footer-dashboard {
  color: white !important;
}

/* line 19, ../../app/styles/library.scss */
.header {
  left: 0;
  top: 0;
  width: 100%;
  z-index: 998;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 34, ../../app/styles/library.scss */
.primary-menu .container, .sub-nav-wrapper .container {
  padding: 0px !important;
}

/* line 38, ../../app/styles/library.scss */
.primary-menu {
  background: white;
  width: 100%;
}

/* line 43, ../../app/styles/library.scss */
.sub-nav-wrapper {
  padding: 10px;
}

/* line 47, ../../app/styles/library.scss */
.subnav-dashboard > li > a:hover {
  color: black;
}

/* line 51, ../../app/styles/library.scss */
.subnav-dashboard > li {
  margin-left: 10px;
}

/* line 55, ../../app/styles/library.scss */
.subnav-dashboard > li > a.active {
  opacity: 0.8;
  border-radius: 10px;
  border: 1px solid whitesmoke;
  padding: 12px;
  margin-top: 5px;
  color: white !important;
}

/* line 64, ../../app/styles/library.scss */
.subnav-dashboard > li > a.active:hover {
  background: whitesmoke !important;
  color: black !important;
}

@media (max-device-width: 768px) {
  /* line 70, ../../app/styles/library.scss */
  div.navbar-header {
    background: rgba(44, 62, 80, 0.8) !important;
  }
}
/* line 75, ../../app/styles/library.scss */
.sub-nav-wrapper {
  background: rgba(44, 62, 80, 0.8);
  color: white;
}

/* line 80, ../../app/styles/library.scss */
.sub-nav-wrapper li:active {
  background: black;
}

/* line 84, ../../app/styles/library.scss */
.sub-nav a {
  color: white;
}

/* line 88, ../../app/styles/library.scss */
.element-invisible {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 96, ../../app/styles/library.scss */
.header .logo {
  position: absolute;
  z-index: 99;
  top: 1.2em;
  left: 50%;
  margin-left: -2.1875em;
  background: #1abc9c;
}

/* line 106, ../../app/styles/library.scss */
.logo {
  width: 6em;
  height: 6em;
  display: block;
  background-repeat: no-repeat;
  background-color: #00c4cc;
  transition: all .3s;
  background-size: contain;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: top .2s ease-out,box-shadow .2s ease-out;
}

/* line 133, ../../app/styles/library.scss */
.arrow-up {
  position: absolute;
  left: 35%;
  top: 3.5em;
  margin: auto;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid rgba(44, 62, 80, 0.8);
}

/* line 148, ../../app/styles/library.scss */
p.user-name {
  margin: 20px;
  overflow: hidden;
  max-width: 400px;
}

/* line 154, ../../app/styles/library.scss */
.no-padding {
  padding: 0px !important;
}

/*  

  For the Courses Page

*/
/* line 165, ../../app/styles/library.scss */
.container.content {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/* line 171, ../../app/styles/library.scss */
.section {
  width: 100% !important;
}

/* line 176, ../../app/styles/library.scss */
.module {
  padding: 40px 0px;
  min-height: 150px;
  text-align: center;
}

/* line 182, ../../app/styles/library.scss */
.module-group {
  background: #ecf0f1;
}

/* line 186, ../../app/styles/library.scss */
.module-header {
  background: rgba(44, 62, 80, 0.8);
  min-height: 300px;
}

/* line 191, ../../app/styles/library.scss */
.module-header h1 {
  font-family: Helvetica;
  font-size: 100px;
  color: white;
}

/* line 197, ../../app/styles/library.scss */
.module-header h3 {
  font-family: open-sans;
  font-size: 30px;
  color: white;
}

/* line 203, ../../app/styles/library.scss */
.module-lessons {
  background: whitesmoke;
}

/* line 207, ../../app/styles/library.scss */
.pack-group-title {
  font-size: 20px;
  font-weight: 500;
}

/* line 212, ../../app/styles/library.scss */
.module-content {
  width: 800px;
  height: 180px;
  margin: auto;
}

/* line 218, ../../app/styles/library.scss */
.module-copy {
  width: 500px;
  height: 100%;
  float: right;
  padding: 20px;
}

/* line 225, ../../app/styles/library.scss */
.module-copy p {
  text-align: left;
}

/* line 229, ../../app/styles/library.scss */
.module-img {
  height: 100%;
  width: 300px;
}

/*# sourceMappingURL=library.css.map */