/*
* Navigation Bar
* 
*/
/* line 6, ../../app/styles/mobile.scss */
.navbar-toggle .ib {
  background-color: rgba(44, 62, 80, 0.8) !important;
}

@media (max-width: 768px) {
  /* line 25, ../../app/styles/mobile.scss */
  .sub-nav-wrapper {
    min-height: 60px;
  }

  /* line 29, ../../app/styles/mobile.scss */
  .social-area.pull-right {
    float: none !important;
    padding: 0;
  }
}