/* line 3, ../../app/styles/profile.scss */
.fixed-center-container {
  max-width: 768;
}

/* line 7, ../../app/styles/profile.scss */
.fixed-center-container .profile-control {
  display: block;
  padding: 0.33em;
  width: 100%;
  border: 0;
  font-size: 25px;
  font-weight: 300;
  color: #8f8e8b;
  line-height: 1.5;
}

/* line 18, ../../app/styles/profile.scss */
.fixed-center-container .form-group label {
  margin-bottom: 12px;
}

/* line 22, ../../app/styles/profile.scss */
.fixed-center-container .profile-control:hover {
  background: rgba(26, 188, 156, 0.4);
  color: white;
  transition: background-color 300ms linear;
}

/* line 30, ../../app/styles/profile.scss */
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px dashed rgba(0, 0, 0, 0.3);
}

/* line 37, ../../app/styles/profile.scss */
.fixed-center-container .form-group {
  display: inline-block;
  width: 325px;
  margin-bottom: 25px;
  vertical-align: top;
  font-size: 19px;
}

/* line 45, ../../app/styles/profile.scss */
.fixed-center-container .form-group.full-width {
  width: 100%;
  text-align: center;
}

/* line 50, ../../app/styles/profile.scss */
.fixed-center-container fieldset.form-fields {
  text-align: justify;
  font-size: 1px;
}

/* line 55, ../../app/styles/profile.scss */
.fixed-center-container fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 61, ../../app/styles/profile.scss */
.module a {
  font-weight: 800;
  color: #f47d30;
  text-decoration: none;
}

/* line 67, ../../app/styles/profile.scss */
.btn-element:hover {
  margin-top: 3px;
  transition: 0.3 linear;
}

/* line 72, ../../app/styles/profile.scss */
.btn-shadow {
  box-sizing: border-box;
  color: #605f5d;
  height: 55px;
  position: relative;
  text-align: center;
  top: 6px;
  width: 200px;
  background: #4da67a none repeat scroll 0% 0%/auto padding-box border-box;
  border: 0px none #605f5d;
  border-radius: 5px 5px 5px 5px;
  font: normal normal 300 normal 19px/27.142858505249px 'Brandon Grotesque', brandon-grotesque, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 20px 62.5px;
  outline: #605f5d none 0px;
}

/* line 88, ../../app/styles/profile.scss */
.btn-element {
  background-position: 50% 50%;
  color: #605f5d;
  cursor: pointer;
  height: 55px;
  min-height: 0px;
  position: relative;
  top: -6px;
  width: 200px;
  -webkit-perspective-origin: 100px 27.5px;
          perspective-origin: 100px 27.5px;
  -webkit-transform-origin: 100px 27.5px;
          transform-origin: 100px 27.5px;
  background: #57bb89 none no-repeat scroll 50% 50%/auto padding-box border-box;
  border: 0px none #605f5d;
  border-radius: 5px 5px 5px 5px;
  font: normal normal 300 normal 19px/27.142858505249px 'Brandon Grotesque', brandon-grotesque, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  outline: #605f5d none 0px;
  padding: 0px;
  transition: top 0.15s linear 0s;
}

/* line 108, ../../app/styles/profile.scss */
.btn-text {
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  height: 20px;
  text-align: center;
  text-transform: uppercase;
  -webkit-perspective-origin: 27.203125px 10px;
          perspective-origin: 27.203125px 10px;
  -webkit-transform-origin: 27.203125px 10px;
          transform-origin: 27.203125px 10px;
  border: 0px none white;
  font: normal normal 800 normal 14px/20px 'Brandon Grotesque', brandon-grotesque, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  outline: white none 0px;
  padding: 0px 10px;
}

/* line 123, ../../app/styles/profile.scss */
.fixed-center-container .form-select-value {
  padding: 0 36px 0 18px;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 131, ../../app/styles/profile.scss */
.fixed-center-container .form-group {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #605f5d;
  display: inline-block;
  font-family: 'Brandon Grotesque', brandon-grotesque, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 19px;
  margin-bottom: 25px;
  text-align: justify;
  vertical-align: top;
  width: 325px;
}

/* line 144, ../../app/styles/profile.scss */
[data-style="custom"] {
  background: white;
  width: 325px;
  height: 55px;
  font-family: 'Brandon Grotesque', brandon-grotesque, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: block;
  padding: 0.33em;
  width: 100%;
  border: 0;
  font-size: 25px;
  font-weight: 300;
  color: #8f8e8b;
  line-height: 1.5;
}

/*
*   All the colours used for the custom buttons
*/
/* line 164, ../../app/styles/profile.scss */
.btn-light-grey {
  background-color: #bdc3c7;
}

/* line 168, ../../app/styles/profile.scss */
.btn-dark-grey {
  background-color: grey;
}

/* line 172, ../../app/styles/profile.scss */
.btn-light-red {
  background-color: #e74c3c;
}

/* line 176, ../../app/styles/profile.scss */
.btn-dark-red {
  background-color: #c0392b;
}

/* line 180, ../../app/styles/profile.scss */
.btn-light-blue {
  background-color: #3498db;
}

/* line 184, ../../app/styles/profile.scss */
.btn-dark-blue {
  background-color: #2980b9;
}

/* line 188, ../../app/styles/profile.scss */
.btn-dark-green {
  background-color: #4da67a;
}

/* line 192, ../../app/styles/profile.scss */
.btn-light-green {
  background-color: #57bb89;
}