@charset "UTF-8";
/* line 3, ../../app/styles/profile.scss */
.fixed-center-container {
  max-width: 768;
}

/* line 7, ../../app/styles/profile.scss */
.fixed-center-container .profile-control {
  display: block;
  padding: 0.33em;
  width: 100%;
  border: 0;
  font-size: 25px;
  font-weight: 300;
  color: #8f8e8b;
  line-height: 1.5;
}

/* line 18, ../../app/styles/profile.scss */
.fixed-center-container .form-group label {
  margin-bottom: 12px;
}

/* line 22, ../../app/styles/profile.scss */
.fixed-center-container .profile-control:hover {
  background: rgba(26, 188, 156, 0.4);
  color: white;
  transition: background-color 300ms linear;
}

/* line 30, ../../app/styles/profile.scss */
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px dashed rgba(0, 0, 0, 0.3);
}

/* line 37, ../../app/styles/profile.scss */
.fixed-center-container .form-group {
  display: inline-block;
  width: 325px;
  margin-bottom: 25px;
  vertical-align: top;
  font-size: 19px;
}

/* line 45, ../../app/styles/profile.scss */
.fixed-center-container .form-group.full-width {
  width: 100%;
  text-align: center;
}

/* line 50, ../../app/styles/profile.scss */
.fixed-center-container fieldset.form-fields {
  text-align: justify;
  font-size: 1px;
}

/* line 55, ../../app/styles/profile.scss */
.fixed-center-container fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 61, ../../app/styles/profile.scss */
.module a {
  font-weight: 800;
  color: #f47d30;
  text-decoration: none;
}

/* line 67, ../../app/styles/profile.scss */
.btn-element:hover {
  margin-top: 3px;
  transition: 0.3 linear;
}

/* line 72, ../../app/styles/profile.scss */
.btn-shadow {
  box-sizing: border-box;
  color: #605f5d;
  height: 55px;
  position: relative;
  text-align: center;
  top: 6px;
  width: 200px;
  background: #4da67a none repeat scroll 0% 0%/auto padding-box border-box;
  border: 0px none #605f5d;
  border-radius: 5px 5px 5px 5px;
  font: normal normal 300 normal 19px/27.142858505249px 'Brandon Grotesque', brandon-grotesque, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0px 62.5px;
  outline: #605f5d none 0px;
}

/* line 88, ../../app/styles/profile.scss */
.btn-element {
  background-position: 50% 50%;
  color: #605f5d;
  cursor: pointer;
  height: 55px;
  min-height: 0px;
  position: relative;
  top: -6px;
  width: 200px;
  -webkit-perspective-origin: 100px 27.5px;
          perspective-origin: 100px 27.5px;
  -webkit-transform-origin: 100px 27.5px;
          transform-origin: 100px 27.5px;
  background: #57bb89 none no-repeat scroll 50% 50%/auto padding-box border-box;
  border: 0px none #605f5d;
  border-radius: 5px 5px 5px 5px;
  font: normal normal 300 normal 19px/27.142858505249px 'Brandon Grotesque', brandon-grotesque, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  outline: #605f5d none 0px;
  padding: 0px;
  transition: top 0.15s linear 0s;
}

/* line 108, ../../app/styles/profile.scss */
.btn-text {
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  width: 54.40625px;
  -webkit-align-self: flex-start;
          align-self: flex-start;
  -webkit-perspective-origin: 27.203125px 10px;
          perspective-origin: 27.203125px 10px;
  -webkit-transform-origin: 27.203125px 10px;
          transform-origin: 27.203125px 10px;
  border: 0px none white;
  font: normal normal 800 normal 14px/20px 'Brandon Grotesque', brandon-grotesque, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  outline: white none 0px;
  padding: 0px 10px;
}

/* line 127, ../../app/styles/profile.scss */
.fixed-center-container .form-select-value {
  padding: 0 36px 0 18px;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 135, ../../app/styles/profile.scss */
.fixed-center-container .form-group {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #605f5d;
  display: inline-block;
  font-family: 'Brandon Grotesque', brandon-grotesque, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 19px;
  margin-bottom: 25px;
  text-align: justify;
  vertical-align: top;
  width: 325px;
}

/* line 148, ../../app/styles/profile.scss */
.fixed-center-container .form-select-value {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #605f5d;
  cursor: pointer;
  display: block;
  font-family: 'Brandon Grotesque', brandon-grotesque, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 300;
  height: 60px;
  line-height: 60px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 0px;
  padding-left: 18px;
  padding-right: 36px;
  padding-top: 0px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 325px;
}

/* line 172, ../../app/styles/profile.scss */
.form-select.custom {
  -webkit-font-smoothing: antialiased;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: white;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…NEN0Q3RDciIGQ9Ik03LjU2NCA3LjU2NGw3LjU2My03LjU2NGgtMTUuMTI3eiIvPjwvc3ZnPg==);
  background-origin: padding-box;
  background-size: auto;
  border-bottom-color: #d7d7d7;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  box-sizing: border-box;
  color: #605f5d;
  cursor: pointer;
  display: block;
  font-family: 'Brandon Grotesque', brandon-grotesque, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 300;
  height: 63px;
  line-height: 60px;
  min-width: 140px;
  position: relative;
  text-align: left;
  width: 325px;
}