/* line 1, ../../app/styles/styles.scss */
.primary-nav {
  box-sizing: border-box;
  color: #605f5d;
  height: 100px;
  min-height: 100px;
  position: relative;
  background: white none repeat scroll 0% 0%/auto padding-box border-box;
}

/* line 10, ../../app/styles/styles.scss */
.primary-nav ul, ol {
  margin-bottom: 0px !important;
}

/* line 14, ../../app/styles/styles.scss */
.menu-nav {
  box-sizing: border-box;
  color: #605f5d;
  height: 132px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  -webkit-perspective-origin: 325px 66px;
          perspective-origin: 325px 66px;
  -webkit-transform-origin: 325px 66px;
          transform-origin: 325px 66px;
  border: 0px none #605f5d;
  font: normal normal 500 normal 13px/18.5714302062988px 'Brandon Grotesque', brandon-grotesque, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  outline: #605f5d none 0px;
}

/* line 29, ../../app/styles/styles.scss */
.logo {
  box-sizing: border-box;
  color: #605f5d;
  float: left;
  height: 132px;
  width: 150px;
}

/* line 37, ../../app/styles/styles.scss */
.primary-nav .item {
  box-sizing: border-box;
  color: #605f5d;
  float: left;
  height: 100%;
  letter-spacing: 1px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  border: 0px none #605f5d;
  outline: #605f5d none 0px;
  padding: 38px 0px 0px;
}

/* line 51, ../../app/styles/styles.scss */
.primary-nav li {
  box-sizing: border-box;
  color: #8f8e8b;
  display: block;
  height: 68px;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 160px;
  -webkit-perspective-origin: 84.75px 34px;
          perspective-origin: 84.75px 34px;
  -webkit-transform-origin: 84.75px 34px;
          transform-origin: 84.75px 34px;
  border: 0px none #8f8e8b;
  font: normal normal 500 normal 13px/18.5714302062988px 'Brandon Grotesque', brandon-grotesque, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  list-style: none outside none;
  outline: #8f8e8b none 0px;
  padding: 40px 30px;
  position: relative;
}

/* line 71, ../../app/styles/styles.scss */
#active {
  box-sizing: border-box;
  color: #605f5d;
  float: left;
  letter-spacing: 1px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 110.78125px;
  font: normal normal 500 normal 13px/18.5714302062988px 'Brandon Grotesque', brandon-grotesque, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 38px 0px 0px;
}

/*#LI_8*/
/*
#active:after {
    bottom: -10px;
    box-sizing: border-box;
    color: rgb(96, 95, 93);
    display: block;
    height: 10px;
    left: 55.390625px;
    letter-spacing: 1px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 20px;
    align-self: stretch;
    perspective-origin: 10px 5px;
    transform-origin: 10px 5px;
    content: '';
    border-top: 10px solid rgb(255, 255, 255);
    border-right: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 0px none rgb(96, 95, 93);
    border-left: 10px solid rgba(0, 0, 0, 0);
    font: normal normal 500 normal 13px/18.5714302062988px 'Brandon Grotesque', brandon-grotesque, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px -10px;
    outline: rgb(96, 95, 93) none 0px;
}
*/
/* line 113, ../../app/styles/styles.scss */
.primary-nav li .menu-item {
  box-sizing: border-box;
  color: #f79b60;
  display: block;
}

/* line 119, ../../app/styles/styles.scss */
.secondary-nav {
  padding: 12px 0;
  background-color: orange;
  font-size: 15px;
  letter-spacing: 1px;
  width: 100%;
}

/* line 128, ../../app/styles/styles.scss */
.secondary-nav ul {
  margin-left: 110px;
}

/* line 132, ../../app/styles/styles.scss */
.secondary-nav li {
  display: inline-block;
  padding: 0 15px;
  border-left: 1px solid #d6d6d6;
}

/* line 138, ../../app/styles/styles.scss */
.masthead a {
  color: #8f8e8b;
}

/* line 142, ../../app/styles/styles.scss */
.main-container.dashboard {
  padding: 80px !important;
}

/*# sourceMappingURL=styles.css.map */