/*.videogular-container {
    width: 100%;
    height: 320px;
    margin: auto;
    margin-bottom: 30px;
}

@media (min-width: 1200px) {
    .videogular-container {
        width: 768px;
        height: 432px;
        float: left;
    }

    .videogular-container.audio {
        width: 1170px;
        height: 50px;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {
    .videogular-container {
        width: 940px;
        height: 528.75px;
    }

    .videogular-container.audio {
        width: 940px;
        height: 50px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .videogular-container {
        width: 728px;
        height: 409.5px;
    }

    .videogular-container.audio {
        width: 728px;
        height: 50px;
    }
}

*/
/* line 49, ../../app/styles/video.scss */
.card {
  float: left;
  max-width: 320px;
  width: 320px;
  margin: 20px;
  margin-top: 0px;
  background-color: whitesmoke;
}

/* line 58, ../../app/styles/video.scss */
button.btn.btn-social.btn-simple.btn-coach:hover {
  border-color: whitesmoke;
}

/* line 62, ../../app/styles/video.scss */
.coach-facebook {
  color: #3b5998;
}

/* line 66, ../../app/styles/video.scss */
.coach-twitter {
  color: #55acee;
}

/* line 70, ../../app/styles/video.scss */
.fa-facebook-square.coach-facebook:hover, .fa-facebook-square.coach-twitter:hover {
  border: none !important;
}

/* line 74, ../../app/styles/video.scss */
.go-back {
  margin-left: 0px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 0px;
  font-size: 25px;
}

/*
* Comment Box on the page
* - make it responsive
* - set under the main video
*/
/* line 87, ../../app/styles/video.scss */
.comment-container {
  max-width: 768px;
}

/* line 92, ../../app/styles/video.scss */
.padded {
  padding: 30px 20px 30px;
  border-radius: 10px;
}

/* line 98, ../../app/styles/video.scss */
.half-border {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* line 105, ../../app/styles/video.scss */
.video-description {
  margin-bottom: 20px;
}

/* line 109, ../../app/styles/video.scss */
.social-share {
  float: right;
}

/* line 113, ../../app/styles/video.scss */
.dsq-comment-header {
  white-space: normal !important;
}

/* line 117, ../../app/styles/video.scss */
div#disqus_thread {
  margin-bottom: 30px;
}

/* line 121, ../../app/styles/video.scss */
.no-hover:hover {
  text-decoration: none;
}

/* line 125, ../../app/styles/video.scss */
.no-hover {
  text-decoration: none;
}

/* line 129, ../../app/styles/video.scss */
.back-link {
  margin-right: 10px;
}