<div class="wrapper">
        <!-- Add your site or application content here -->
        <div class="header dashboard" ng-cloak>
          <nav class="navbar primary-menu nav-dashboard" role="navigation">
            <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button id="menu-toggle" type="button" class="navbar-toggle">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar bar1"></span>
                  <span class="icon-bar bar2"></span>
                  <span class="icon-bar bar3"></span>
                </button>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  <li><a ng-href="#/dashboard"> My Board </a><div class="arrow-up"></li>
                  <li><a ng-href="#/dashboard"> Courses </a></li>
                  <li><a ng-href="#/dashboard"> Tutorials </a></li>
                  <li><a ng-href="#/dashboard"> Account </a></li>
                </ul>
                  <ul class="nav navbar-nav navbar-right">                    
                    <li><p ng-show-auth="" ng-cloak class="user-name">Welcome Peter{{John}}</p></li>
                    <li><a ng-show-auth="" ng-cloak ng-click="logout()" class="btn btn-fill">Logout</a></li>
                  </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>

           <a href="index.html" class="logo"> <span class="element-invisible">logo</span> 
                </a>
          <!--  The secondary Menu  -->
          <div class="sub-nav-wrapper">
            <div class="container sub-nav">
              <!-- Brand and toggle get grouped for better mobile display -->
              <nav class="secondary-nav">
                <div class="navbar-header">
                  <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav subnav-dashboard">
                      <li><a ng-href="#/dashboard" class="active"> Timeline </a></li>
                      <li><a ng-href="#/progress"> Stats </a></li>
                      <li><a ng-href="#/invites"> Invites </a></li>
                    </ul>
                  </div><!-- /.navbar-collapse -->
                </div>
              </nav>
            </div><!-- /.container-fluid -->
          </div>
        </div>
      <!-- end of header -->
      
      <div class="main-container dashboard" ng-cloak>
        <div class="row-fluid">
        <div class="{{user.provider === 'password'? 'col-md-4' : 'col-md-12'}}">
          <h3>Profile</h3>

          <form role="form">
            <p class="form-group">
              <label>Account ID</label>
              <br />{{user.uid}}
            </p>

            <p class="form-group">
              <label>Name:</label>
              <input type="text" name="name" ng-model="profile.name" class="form-control" />
            </p>

            <p class="form-group">
              <label>Email:</label>
              <br />{{profile.email}}
            </p>
          </form>

          <p>
            <button role="button" ng-click="logout()" class="btn btn-danger">Log Out</button>
          </p>
        </div>

        <div class="col-md-4" ng-show="{{user.provider === 'password'}}">
        <form role="form">
          <h3>Change Password</h3>

          <p class="form-group">
            <label>Old Password:</label>
            <input type="password" ng-keypress="clear()" ng-model="oldpass" class="form-control" />
          </p>

          <p class="form-group">
            <label>New Password:</label>
            <input type="password" ng-keypress="clear()" ng-model="newpass" class="form-control" />
          </p>

          <p class="form-group">
            <label>Confirm New Password:</label>
            <input type="password" ng-keypress="clear()" ng-model="confirm" class="form-control" />
          </p>

          <button class="btn btn-primary" ng-click="changePassword(oldpass, newpass, confirm)">change password</button>

          <p class="error" ng-show="err">{{err}}</p>
          <p class="good" ng-show="msg">{{msg}}</p>
        </form>
        </div>

        <div class="col-md-4" ng-show="{{user.provider === 'password'}}">
        <form>
          <h3>Change Email</h3>

          <p class="form-group">
            <label>New Email:</label>
            <input type="text" ng-keypress="clear()" ng-model="newEmail" class="form-control" />
          </p>

          <p class="form-group">
            <label>Password:</label>
            <input type="password" ng-keypress="clear()" ng-model="pass" class="form-control" />
          </p>

          <button class="btn btn-primary" ng-click="changeEmail(pass, newEmail)">update email</button>
        </form>
        </div>

        </div>
        <p class="clearfix"></p>
        <div ng-repeat="message in messages" class="alert alert-{{message.type}}">{{message.text}}</div>
      </div>
  <!-- end wrapper -->    
  </div>

  <footer class="footer">
      <div class="container">
          <nav class="pull-left">
              <ul>
                  <li>
                      <a href="#">
                          Home
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          About
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          Program
                      </a>
                  </li>
              </ul>
          </nav>
          <div class="social-area pull-right">                
              <a class="btn btn-social btn-facebook btn-simple transparent">
                  <i class="fa fa-facebook-square"></i>
              </a>
              <a class="btn btn-social btn-twitter btn-simple transparent">
                  <i class="fa fa-twitter"></i>
              </a>
          </div>
          <div class="copyright">
              
          </div>
      </div>
    </footer>
