<div class="wrapper">
        <!-- Add your site or application content here -->
        <div class="header dashboard" ng-controller="HeaderCtrl" ng-cloak>
          <nav class="navbar primary-menu nav-dashboard" role="navigation">
            <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button id="menu-toggle" type="button" class="navbar-toggle">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar bar1"></span>
                  <span class="icon-bar bar2"></span>
                  <span class="icon-bar bar3"></span>
                </button>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  <li><a ng-href="#/dashboard"> My Board </a></li>
                  <li><a ng-href="#/dashboard"> Courses </a></li>
                  <li><a ng-href="#/dashboard"> Tutorials </a></li>
                  <li><a ng-href=""> Account </a><div class="arrow-up"></li>
                </ul>
                  <ul class="nav navbar-nav navbar-right">                    
                    <li><p ng-show-auth="" ng-cloak class="user-name">Welcome Peter{{John}}</p></li>
                    <li><a ng-show-auth="" ng-cloak ng-click="logout()" class="btn btn-fill">Logout</a></li>
                  </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>

           <a href="#/" class="logo"> <span class="element-invisible">logo</span></a>
          <!--  The secondary Menu  -->
          <div class="sub-nav-wrapper">
            <div class="container sub-nav">
              <!-- Brand and toggle get grouped for better mobile display -->
              <nav class="secondary-nav">
                <div class="navbar-header">
                  <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav subnav-dashboard">
                      <li><a ng-href="" class="active"> Profile </a></li>
                      <li><a ng-href="#/subscription"> Subscription </a></li>
                    </ul>
                  </div><!-- /.navbar-collapse -->
                </div>
              </nav>
            </div><!-- /.container-fluid -->
          </div>
        </div>

        <div class="main-container dashboard" ng-cloak>
            <section class="module">
              <div class="container fixed-center-container">
                <form action="" method="post" role="form" novalidate="novalidate" >       
                  <h3 class="module-title">Personal details</h3>
                  <hr class="rule">
                  <fieldset class="form-fields">
          
                  <div class="form-group">
                    <label for="user_profile_firstname" class="required">Your first name</label>
                    <input type="text" id="user_profile_firstname" name="user_profile[firstname]" required="required" value="Moulthun"  class="form-control"></div>
                  
                  <div class="form-group">
                    <label for="user_profile_lastname" class="required">Your surname</label>
                    <input type="text"id="user_profile_lastname" name="user_profile[lastname]" required="required" value="Ly"  class="form-control">
                  </div>

                  <div class="form-group">
                    <label for="user_profile_email" class="required">Your email</label>
                    <input type="email" id="user_profile_email" name="user_profile[email]" required="required" value="moulthunl@gmail.com"  class="form-control">
                  </div>

                  <div class="form-group">
                    <label for="user_profile_password" class="required">Your password</label>
                    <input type="password" id="user_profile_password" name="user_profile[password]" required="required" autocomplete="off" data-help="Your password must be a minimum of eight characters, with no spaces."  class="form-control"></div>

                  <div class="form-group  full-width">
                    To change your communication preferences click <a href="http://pages.headspace.com/SubscriptionManagement.html" target="_blank">here</a>.
                  </div>

              </fieldset>

              <h4 class="module-title">Your 50 Moves profile</h4>
              <hr class="rule">
              <fieldset class="form-fields">
                  <div class="form-group">
                    <label for="user_profile_displayName">Display name</label>
                    <input type="text" id="user_profile_displayName" name="user_profile[displayName]" value="meditator-21LB2I"  class="form-control">
                  </div>
            </div>

    <!-- end wrapper -->    
    </div>

    <div ng-include src="'partials/sections/footer.html'"></div> 
